.buttons__button {
    font-size: 16px;
    color: teal;
    background: white;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .buttons__button {
        margin: 15px auto;
        display: grid;
    }
}

.buttons__button:hover {
    color: rgb(0, 168, 168);
}

.buttons__button:disabled {
    color: #ccc;
    cursor: not-allowed;
}