.list {
    background: white;
    min-height: 60px;
    padding: 10px;
    margin: 2px 0 20px;
}

.list__header {
    display: grid;
    grid-template-columns: 1fr auto;
    background: white;
    font-size: 20px;
    padding: 20px;
    margin: 10px 0 2px;
}

@media (max-width: 767px) {
    .list__header {
        grid-template-columns: auto;
        padding-bottom: 10px;
    }
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin: 25px 10px 10px;
    list-style-type: none;
    border-bottom: 2px solid #eee;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    font-size: 16px;
    color: teal;
    background: white;
    border: none;
    transition: 0.2s;
}

@media (max-width: 767px) {
    .list__button {
        margin: 20px auto;
        display: grid;
    }
}

.list__button:hover {
    color: rgb(0, 168, 168);
}

.list__button:disabled {
    color: #ccc;
}

.list__button--hidden {
    display: none;
}

.list__button--toggle {
    color: white;
    background: green;
    border: none;
    width: 30px;
    height: 30px;
    transition: 0.2s;
}

.list__button--toggle:hover {
    background: rgb(0, 148, 0);
}

.list__button--toggle:active {
    background: rgb(0, 168, 0);
}

.list__button--deleted {
    justify-self: end;
    background: red;
}

.list__button--deleted:hover {
    background: rgb(255, 60, 60);
}

.list__button--deleted:active {
    background: rgb(255, 120, 120);
}