.list {
    background: white;
    min-height: 60px;
    padding: 10px;
    margin: 2.3px 0 20px;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin: 25px 10px 10px;
    list-style-type: none;
    border-bottom: 2px solid #eee;
}

.list__item--hidden {
    display: none;
}

.list__done {
    text-decoration: line-through;
}

.list__button {
    color: white;
    background: green;
    border: none;
    width: 30px;
    height: 30px;
    transition: 0.2s;
    cursor: pointer;
}

.list__button:hover {
    background: rgb(0, 148, 0);
}

.list__button:active {
    background: rgb(0, 168, 0);
}

.list__button--deleted {
    justify-self: end;
    background: red;
}

.list__button--deleted:hover {
    background: rgb(255, 60, 60);
}

.list__button--deleted:active {
    background: rgb(255, 120, 120);
}